$primary: #446c77;
$secondary: #b8d4dc;
//$dark: #464646;
$dark: #131313;
$danger: #752931;
$success: #3e823a;
$light: #f2f2f2;
$info: rgb(107, 107, 107);
$warning: rgb(212, 126, 76);
$h1-font-size: 2rem;

    #fondo2 {
        padding-left: 0px;
        padding-right: 0px;
        background: rgb(247,63,82);
        background: linear-gradient(90deg, rgba(247,63,82,1) 0%, rgba(254,164,72,1) 50%, rgba(255,226,134,1) 100%); 
    }