<div id="fondo2" class="container-fluid min-vh-100">
    <main>
    <!--**************************************MENU***************************************-->
        <div id="menu" class="col-12 col-lg-12 pr-0 bg-light border-right">
            <app-menu></app-menu>
        </div>
        <div id="contenido" class="col-12 col-lg-12 overflow-hidden">
            <script>$('.dropdown-toggle').dropdown()</script>
            <div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>